@mixin t($fs: 15px, $lh: 1, $cName: 'default', $fw: 400, $family: 'Ithaca') {
    $c: c($cName);
    color: $c;
    font-family: $family, system-ui;
    font-size: z($fs);
    font-style: normal;
    font-weight: $fw;
    line-height: $lh;
}
