$colors: (
    'accent': #db481d,
    'main': #40b567,
    'default': #151515,
    'default-1': #181818,
    'default-2': #1d1a1a,
    'default-3': #2f2626,
    'default-contrast': #cecece,
);

// Типографика — токены семейств шрифтов.
// Используется как `font-family: $t-default;` в компонентах.
$t-default: 'Ithaca', system-ui, sans-serif;
$t-mono: 'IBM', monospace;
